/*--------------------------------------------------------------
# Button Control
--------------------------------------------------------------*/
.search-toggle-menu {
  align-self: center;
}


//Main button for the toggle search area
.main-btn {
  display: inline-block;
  vertical-align: middle;
  border: none;
  align-self: center;
  font: inherit;
  text-align: center;
  margin: 0;
  cursor: pointer;
  @include vendor(transition, $global-transition);


  	@include hocus() {
  	  text-decoration: none;
  	}


}

.mobile-button{
	/*@include flex-center;*/
	width: 40px;
	height: 40px;
	background: red;
}


.search-toggle {
	@include mq(tablet){
	}


}

// Social Buttons

.social-buttons-container_single {
  display: flex;
  margin: 40px 0 40px 0;
}

.social-buttons-container_single-video {
  display: flex;
  margin: 0px 0 20px 0;

}

.social-button {
  padding: 10px 18px;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  svg {
    color: white;
  }


  a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    letter-spacing: 0.18px;
  }
}

.twitter {
  background: #55ACEE;
}

.facebook {
  background: #3B5998;
  margin-right: 40px;
}

/* Mobile Navigation Button
   ===========================================================*/

//Hide mobile nav button when it's not in mobile view
.site-header .mobile-menu-button {


	@include mq(tablet){
		display: none;
	}

}
