.empty-image-container {
	@include uni-gradient;
	@include flex-center;
	min-height: 194.6px;
  display: flex !important;
  @include mq(desktop) {
      height: 100%;
  }
  svg {
  	color: white;
  	width: 25%;
  }
}
