/*--------------------------------------------------------------
## Social
--------------------------------------------------------------*/


/*Widget Defaults.*/

.social__item {
	float: left;
	@include font-size(40px);
}

.social__item:not(:last-child) {
	margin-right: 60px;
}

.social__item a{

	@include hocus() {
		  color: #8e8e8e;
	}

}

.icon_wrap {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
