.stuck {
  position:fixed;
  top: 92px;
  z-index: 2;
}

.bottomStuck {
  position: absolute;
  bottom: 0px;
  top: auto;
  z-index: -2;
}

.sticky-box {
  padding-top: 60px;
}

.activeMobile {
  top: -71px;
  position: fixed;
}

.activatedPadding {
  margin-top: 128px;
}

#masthead {
  transition: all 0.15s linear;
}

#masthead.active {
  box-shadow: 0px 0px 7px #c8c7c7;
}

.previous-box, .next-box {
  @include mq($until:tablet) {
    margin-bottom: 30px;
  }
}
