/*--------------------------------------------------------------
# Images
--------------------------------------------------------------*/


img {
  max-width: 100%; 
  font-style: italic; 
  vertical-align: middle; 
  height: auto; 
  display: block;
}



/* SVG Sizing
   ========================================================================== */
 
.svg-icon {
     width:1em; 
     height:1em; 
     position:relative; 
     top:0; 
}




/* Hide SVG Region
   ========================================================================== */

.svg-region{
	display: none;
}



.gallery {
	@include flexbox;

	@include flex-wrap(wrap);
	
	margin-left: -$desktop-side-pad;
	
}

.gallery figure {
	margin: $desktop-side-pad;
}