@mixin vendor($property, $value...){
    -webkit-#{$property}:$value;
    -moz-#{$property}:$value;
    -ms-#{$property}:$value;
    -o-#{$property}:$value;
    #{$property}:$value;
}

// Mixin itself
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}


@mixin module-inner-wrap {
  	@include clearfix();
  	max-width: $global-site-width;
	margin: auto;
	position: relative;
  
  
  @include mq(tablet) {
  
  }
      
  
}

.module-inner-wrap {
	@include module-inner-wrap;
}


   
@mixin font-weight($weight) {

  @if ($weight == light) {
    font-weight: 300;
  }
@elseif ($weight == normal) {
  font-weight: 400;
}
  @elseif ($weight == bold) {
    font-weight: 500;
  }

  @elseif ($weight == black) {
    font-weight: 700;
  }

  @else {
    @warn "#{$weight} is not a valid font-weight."
  }

}

@mixin font-family($family) {

  @if ($family == "sans-serif") {
    font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
  }


  @elseif ($family == "verdana") {
    font-family: Verdana, Geneva, sans-serif;
  }
  
  
  @elseif ($family == "serif") {
    font-family: Georgia, Times, 'Times New Roman', serif;
  }


  @else {
    @warn "#{$family} is not a valid font-family."
  }

}



@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}




@mixin hocus() {
  &:hover,
  &:focus {
    @content;
  }
}


/* Flexbox Center 
   ========================================================================== */
   
@mixin flex-center{
		@include flexbox;
		@include align-items(center);
		@include justify-content(center);
	
}



/* -- Hide Elements.--*/

.m-hide {
	
	display: none;
	visibility: hidden;
	opacity: 0;
	
	@include mq(tablet){
		display: block;
		visibility: visible;
		opacity: 1;
	}
	
}


.m-t-hide {
	
	display: none;
	visibility: hidden;
	opacity: 0;
	
	@include mq(desktop){
		display: block;
		visibility: visible;
		opacity: 1;
	}
	
}




.t-hide {
		
		display: block;
		visibility: visible;
		opacity: 1;
	
	@include mq(tablet){
		display: none;
		visibility: hidden;
		opacity: 0;
	}
}


.d-hide {
		
		display: block;
		visibility: visible;
		opacity: 1;
	
	@include mq(desktop){
		display: none;
		visibility: hidden;
		opacity: 0;
	}
}

.w-hide {
		
		display: block;
		visibility: visible;
		opacity: 1;
	
	@include mq(wide){
		display: none;
		visibility: hidden;
		opacity: 0;
	}
}



.hide {
	display: none;
	}


@mixin background-colour($rgb,$opacity) {
  background-color: rgba($rgb, $opacity);
}


.has-text-centered,
.wp-caption-text {
    text-align: center;
	@include inline-flex;
	@include align-items(center);
	@include justify-content(center);
	
}
