/* ==========================================================================
   #Site Global Sizes
   ========================================================================== */

$global-site-width: 1220px !default;

$toast-gutter-width: 40px !default;
$toast-breakpoint-medium: 740px !default;
$toast-breakpoint-small: 320px !default;

$desktop-side-pad: 30px;
$mobile-side-pad: 20px;

$nav-horizontal-gap: 	20px !default;
$nav-vertical-gap: 		20px !default;


$comments-spacing: 	20px !default;
   
$social-icon-width: 			27px!default;
$social-icon-height: 		27px!default;

$global-border-width: 2px;

$global-border-radius: 7px;
$medium-border-radius: 4px;
$small-border-radius: 3px;

$site-header-padding: 25px;

$site-footer-padding: 35px;

$widget-spacing: 40px;

