//Remove content-container padding
div.no-pad {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

//Content-container padding for all pages
.content-container {
  width: 1160px;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px; // QUERY THIS!
  @include mq($until:tablet) {
    padding-bottom: 50px;
  }
}

//Title container padding / styling
.title-container {
  width: 900px;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
  @include mq($until:tablet) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

// Headings

.content-heading {
@include font-size(25px);
padding-bottom: $desktop-side-pad;

  @include mq(tablet) {
	@include font-size(30px);
    padding-bottom: $desktop-side-pad *2;
  }
}


// Latest
.large-row:not(:last-child) {
    margin-bottom: 60px;
}

.large-row {

  .featured-post {
    display: inline-flex;

    .post-img a img {
      width: 100%;
      height: auto;
    }

.post-title {
  @include mq($until:tablet) {
      line-height: normal !important;
  }

  @include mq(desktop) {
    	line-height: 35px;
  }
}

    .item-text {


      h3 {
        a {
          font-family: Helvetica;
          font-weight: 300;
          color: $uni-blue;
          text-decoration: none;
          font-size: 28px;
          margin-bottom: 20px;
        }
      }
      h4 {
        margin-bottom: 10px;

        a {
          font-family: Helvetica;
          color: $grey-dark;
          font-weight: 300;
          text-decoration: none;
          font-size: 12px;
        }
      }
    }
  }
}

.row {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  justify-content: space-between;
  width: 100%;

  .latest-post, .latest-video-post {
    width: 345px;
    height: 345px;
    text-align: left;

    h3 { margin: 0;
      a {
        font-family: Helvetica;
        font-weight: 300;
        color: red;
        text-decoration: none;
        font-size: 20px;
      }
    }
    h4 {
      margin-bottom: 10px;

      a {
        font-family: Helvetica;
        color: $grey-dark;
        font-weight: 300;
        text-decoration: none;
        font-size: 12px;
      }
    }
    .post-auth {
      margin-top: 15px;
    }
    p { margin-top: 10px; }
  }

  .latest-post:first-child {
    margin-right: 60px;
  }

  .latest-post:last-child {
    margin-left: 60px;
  }

  h4 a {
    font-family: Helvetica;
    color: $grey-dark;
    font-weight: 300;
    text-decoration: none;
    font-size: 12px;
  }

  h3 a {
    font-family: Helvetica;
    font-weight: 300;
    color: $uni-blue;
    text-decoration: none;
    font-size: 20px;
  }
}


.post-auth {
	font-style: italic;
	 color: $grey-dark;
	 padding-top: 20px;
}

.post-auth a {
	color: $grey-dark;
	text-decoration: none;
}
.row:not(:last-child) {
  margin-bottom: 60px;
}

/*.row:not(.latest-video-post:last-child) {
  margin-bottom: 60px;
}*/

.news-wrapper, .video-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 150px;
}

.latest-video-post {
  flex-grow: 1;

  .item-text .post-img img {
    width: 100%;
    height: auto;
  }
}

/*.latest-video-post:first-child {
  margin-right: 60px;
}*/

.item-text .post-img {
  margin-bottom: 20px;
}

/*.item-text .post-img img {
  width: 345px;
  height: 210px;
}*/

.item-text p {
  margin-bottom: 0;
 @include font-size(13px);
  line-height: 17px;
  color: $grey-dark;

  @include mq(tablet) {
    @include font-size(15px);
	line-height: 20px;
  }
}


.more-button__wrap {
	text-align: center;
  margin-top: 20px;
}

.more-button {
color: white;
text-decoration: none;
  margin: 0 auto;
  background-color: $uni-blue;
	display: inline-block;
	padding: 20px 25px;

	@include hocus() {
		  background-color: $grey1;
	}
}

.more-button.block-button.main-btn {
	margin: 0;
}

.more-button.block-button.main-btn a,
.more-button.block-button.main-btn svg{
	color: white;
	margin: 0;
	text-decoration: none;

	@include hocus() {
		  background-color: $grey1;
	}
}

// Media Queries

.content-container {

	@include mq($until: desktop) {
		width: 100vw;
	}

}

.news-wrapper {

	@include mq($until: tablet) {
		flex-direction: column;
	}
}


.post-img {


	@include mq(desktop) {
    margin-left: -$mobile-side-pad;
  	margin-right: - $mobile-side-pad;
	}
}

.thumbnail-aligner {
  a {
    overflow: hidden;
    position: relative;
    display: block;

    @include mq(desktop) {
      width: 366.667px;
      height: 206.25px;
    }
    img {
      @include mq(desktop) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }
    }
    span {
      position: absolute;
      background-color: $uni-blue;
      padding: 10px 20px;
      bottom: 0;
      left: 0;
    }
  }
}

.play-icon {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 12px solid #fff;
  border-bottom: 8px solid transparent;
}
