/*--------------------------------------------------------------
# Site .site-header
--------------------------------------------------------------*/


	@include mq(desktop) {

	}

	@include mq(wide) {

	}

	@include mq(extraWide) {

	}

	/*--------------------------------------------------------------
	# Styles added by Tom
	--------------------------------------------------------------*/

.site-header {
	border-top: 5px solid $uni-blue;
	// border-bottom: 2px solid $uni-blue;
	/*@include mq($until:tablet) {
		padding: 0 0;
	}
	display: flex;
	justify-content: space-between;
	height: auto;
	@include mq($until:tablet) {
		flex-direction: column;
		flex-wrap: wrap;
		position: relative;

	}*/

	background: white;

@include mq(tablet) {
	position: fixed;
}
	z-index: 2;
	width: 100%;

}

.site-header.site-module {
	padding: 20px;
}

/*.site-header.site-module {
	padding-top: 10px;
	padding-bottom: 10px;
}*/

/*.site-branding {
	max-width: 500px;
	display: flexr;
	float: left;
	@include mq($until:tablet) {
		flex-direction: column;
		height: auto;
		padding: 10px
	}
}

.logo_container {
	align-self: center;
	width: 230px;
	@include mq($until:tablet) {
		margin: 0 auto;
		padding: 10px 0;
	}
}

.site-title_container {
	align-self: center;
	@include mq($until:tablet) {
		margin: 0 auto;
		padding: 10px 0;
	}
}

.logo {
	width: 230px;
	display: inline;
	border: none;
}

.site-title {
	font-family: Georgia;
	display: inline-block;
	margin-left: 40px;
	margin-bottom: 0;
	width: auto;
	line-height: 21px;
	@include mq($until:tablet) {
		text-align: center;
		margin: 0;
	}
}

.site-title a {
	text-decoration: none;
	color: $uni-blue;
	font-size: 20px;
	font-weight: 300;
}*/


.slick-slide,
.main-slider,
.hero-header {
	height: 300px;

	 @include mq(tablet) {
	 	height: 500px;
	 	}
}


//
// Site Branding
//





//
// Site Branding
//



.site-branding {
	flex-grow: 1;
	@include mq($until:tablet) {
		width: 100%;

		@include flex-direction(column);
		
	}
}


.site-branding {

   margin-bottom: $mobile-side-pad;


   @include mq(tablet) {
   margin-bottom: 0;
   	float: left;

   }

   	.site-title {
/*     @include font-family(helvetica);
     @include font-weight(black);*/
     @include font-size(20px);
     text-transform: uppercase;
     /*max-width: 200px;*/


	 @include mq(tablet) {
		  @include font-size(30px);
	 }

	 	/*@include mq($until:tablet) {
			width: 100%;
			max-width: 100%;
		}*/
  }


  .site-title a {
  	color: $uni-blue;
  	text-decoration: none;
  }

}





.site-branding__hero-wording {

	@include flexbox;
	@include flex-direction(row);
	@include align-items(center);
	@include justify-content(space-between);

	margin-top: $mobile-side-pad;

	@include mq(tablet) {
		 width: 100%;
		/* @include flex-direction(row);
		 @include align-items(center);
		 @include justify-content(space-between);*/
		 margin-top: 0;
		 margin-left: $desktop-side-pad;
	}



}



.site-branding__hero-logo {
	color: $uni-blue;
	max-width: 300px;
	display: inline-flex;
	align-items: center;

	@include mq(tablet) {

	max-width: 150px;

	}

	@include hocus() {
		color: $uni-grey;
	}


}