.site-module {

	padding: 60px 30px;

}

.removed-padding {
	padding: 0 30px 60px 30px;
}

.extra-padding {
	padding-top: 60px;
}


.site-module.xl-t {


	@include mq(tablet) {
	}
}


.site-module.xl-b {

	@include mq(tablet) {
	}
}



.site-module.no-upper {
	padding-top: 0;
}

.site-module.no-lower {
	padding-bottom: 0;
}


.site-module.no-left {
	padding-left: 0;
}

.site-module.no-right {
	padding-right: 0;
}


.blog-body.site-module {
	padding: 0;

	@include mq(tablet) {

	}

}


.site-header.site-module {

	@include mq($until:tablet) {
		padding-bottom: 0;
	}
}



	@include mq(desktop) {

	}

	@include mq(wide) {

	}

	@include mq(extraWide) {

	}



.featured-boxes {

	@include justify-content(center);
	@include flex-wrap(wrap);


}

.column--2-of-3, .column--4-of-6, .column--8-of-12 {
  width: 60%;
}
