.post-title {
	@include font-size(19px);
	 margin: 10px 0;

	@include mq(tablet) {
	  @include font-size(25px);
	  line-height: 35px;

	  margin-bottom: 20px;
	}
}

.post-category {
	a {
		display: inline-block !important;
	}
}

.news-post-date {
	padding-left: 10px;
	font-weight: 300;
	color: $uni-blue;
}
