/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/

// Footer Top

.footer-top .contact_map {
  width: 100%;
  height: 500px;
  background-size: cover;
  @include mq($until:tablet) {
    height: 300px;
  }
}

//Removing all of the content from footer top
.footer-top:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
}

//Map styling
.footer-top .iframe {
  width: 100%;
  height: 500px;
}

// Footer Middle

.footer-middle {
  width: 100vw;
  background-color: $almost-white;

  @include mq($until:tablet) {
    padding: 10px 30px;
  }

  .row {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;

    @include mq($until:tablet) {
      flex-direction: column;
    }

    .column {
      width: 100%;
      padding: 20px;
      display: inline-block;
      min-height: 240px;
      align-self: auto;
      @include mq ($until:tablet) {
        padding: 20px 0;
      }

      a {
        text-decoration: none;
      }

      .social__item a {
        color: $grey-dark;
      }

      .footer-subscribe {
        input {
          background-color: white;
          color: $grey-dark;
          border: 2px solid $grey-dark;
          width: 100%;
          padding: 5px;
        }
      }
    }
  }
}

.widget-container{
  margin: 0 auto;
  *:not(h2), a  {
   font-family: Helvetica !important;
   line-height: 1.5;
   color: $grey-light;
  }
}

.widget-title {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 30px;
  margin-right: 15px;
  font-family: Helvetica;
  font-weight: 300;
}

// Footer Bottom

.footer-bottom {
  width: 100%;
  height: auto;
  padding: 30px 30px;

 }

 .footer-bottom > .module-inner-wrap {
   @include flex-direction(row);
   align-items: flex-end;
 }


.logo_container {
  @include mq ($until:tablet) {
    flex-direction: column;
    width: 100%;
  }
}

.logo_container a {
  @include mq ($until:tablet) {
    margin: 0 auto;
  }
}

.site-footer {
  background-color: $almost-white;
}
/*
.site-footer__logo {
  width: auto;
  margin: auto;

	@include align-items(flex-start);

	@include mq ($until:tablet) {
	 width: 33%;
	}

  svg {
    max-width: 120px;
  }
}
*/

//
// Footer Logo
//



.site-footer__logo {
	width: 110px;
	margin-left: auto;
	color: $grey1;
}


@include mq($until:tablet) {



	.site-footer__logo {
		width: 33.3333%;
		margin: 20px 0 0;
	}




}


.footer-meta {
	@include font-size(12px);

  > p:first-child {
    font-size: 15px;
    margin-bottom: 10px;
  }

/*	@include flexbox;
	@include align-items(flex-end);*/

	@include mq(tablet) {
	/*@include flex-direction(row);*/
  width: 100%;
	}
  @include mq($until:tablet) {
    width: 66%;
  }
}
.credit {
	line-height: 20px;
}

.credit:last-child {
  margin-bottom: 10px;
}

.copyright {
	margin-top: 20px;
}

/*.credit {
  display: inline;

}

.coppyright {
  margin-top: 47px;
  float: left;
  font-family: Helvetica;
  font-size: 12px;
  @include mq ($until:tablet) {
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }
}*/




.university-links {
	margin-bottom: 0;
	list-style: none;
	margin-top: 10px;
	@include flexbox;
	@include flex-direction(row);
	@include flex-wrap(wrap);

	@include mq(tablet) {
	/*@include flex-direction(row);*/



	}

}


.university-links li {
	display: inline-block;
	line-height: 20px;
}

.university-links li a{
	color: $grey2;
	text-decoration: none;

	@include hocus() {
		  text-decoration: underline;
	}

}



.university-links li:not(:last-child):after {

		content: "|";
		margin: 0 5px;

}




