.format-standard {
  display: inline-block;
  .entry-content {
    display: inline-block;
    width: 750px;
    margin-top: 60px;

    h4, h5, h6 {
      font-size: 30px;
      color: $uni-blue;
    }

  }
}

.fs-sidebar {
  margin-top: 60px;
  margin-left: 60px;
  width: 345px;
  float: right;

  img {
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  h3 {
    font-family: Helvetica;
    font-weight: 300;
    color: $uni-blue;
    text-decoration: none;
    font-size: 20px;
    margin: 10px 0;
  }

  h2 {
    font-size: 30px;
  }

  h4 {
    margin-bottom: 10px;
    a {
      font-family: Helvetica;
      color: $grey-dark;
      font-weight: 300;
      text-decoration: none;
      font-size: 12px;
    }
  }

  p {
    font-size: 13px;
    font-weight: 300;
    line-height: 17px;
    color: $grey-dark;
    font-family: Helvetica;
  }
}
