.author-archive-card {
  display: flex;
  flex-direction: row;
  height: 600px;
  max-width: 1220px;
  margin: 0 auto;
  margin-bottom: 20px;

  @include mq($until:desktop) {
    max-height: auto;
    flex-direction: column;
    height: auto;
  }

  .align-author-card {
    margin: auto;
  }

  .column-spacings {
    padding: 0;
    width: 33.3333%;
    padding-right: 30px;
    display: flex;
    @include mq($until:desktop) {
      margin-top: 20px;
      padding: 0 30px;
      width: 100% !important;
      order: 2;
    }
  }

  img {
    margin-left: 30px;
    width: 66.6666%;
    margin-bottom: 20px;
    @include mq($until:desktop) {
      width: 100% !important;
      margin: 0;
      order: 1;
    }
  }
}
