/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/


	@include mq(desktop) {

	}

	@include mq(wide) {

	}

	@include mq(extraWide) {

	}

	/*--------------------------------------------------------------
	# Styles added by Tom
	--------------------------------------------------------------*/

header {
	border-top: 5px solid $uni-blue;
	border-bottom: 2px solid $uni-blue;
	padding: 0 40px;
	@include mq($until:tablet) {
		padding: 0 0;
	}
	display: flex;
	justify-content: space-between;
	height: auto;
	@include mq($until:tablet) {
		flex-direction: column;
		flex-wrap: wrap;
		position: relative;

	}

}

.site-branding {
	max-width: 500px;
	height: 100px;
	display: flex;
	float: left;
	@include mq($until:tablet) {
		flex-direction: column;
		height: auto;
		padding: 10px
	}
}

.logo_container {
	align-self: center;
	width: 230px;
	@include mq($until:tablet) {
		margin: 0 auto;
		padding: 10px 0;
	}
}

.site-title_container {
	align-self: center;
	@include mq($until:tablet) {
		margin: 0 auto;
		padding: 10px 0;
	}
}

.logo {
	width: 230px;
	display: inline;
	border: none;
}

.site-title {
	font-family: Georgia;
	display: inline-block;
	margin-left: 40px;
	margin-bottom: 0;
	width: auto;
	line-height: 21px;
	@include mq($until:tablet) {
		text-align: center;
		margin: 0;
	}
}

.site-title a {
	text-decoration: none;
	color: $uni-blue;
	font-size: 20px;
	font-weight: 300;
}
