.author-archive-card {
  display: flex;
  flex-direction: row;
  max-height: 600px;
  width: 100%;
  margin-bottom: 20px;

  div {
    max-width: 40%;
    flex-grow: 1;
  }

  img {
    max-width: 60%;
    flex-grow: 2;
  }
}
