/*--------------------------------------------------------------
# Site .site-header
--------------------------------------------------------------*/


	@include mq(desktop) {

	}

	@include mq(wide) {

	}

	@include mq(extraWide) {

	}

	/*--------------------------------------------------------------
	# Styles added by Tom
	--------------------------------------------------------------*/

.site-header {
	border-top: 5px solid $uni-blue;
	// border-bottom: 2px solid $uni-blue;
	/*@include mq($until:tablet) {
		padding: 0 0;
	}
	display: flex;
	justify-content: space-between;
	height: auto;
	@include mq($until:tablet) {
		flex-direction: column;
		flex-wrap: wrap;
		position: relative;

	}*/

	background: white;

@include mq(desktop) {
	position: fixed;
}
	z-index: 2;
	width: 100%;

}

.site-header.site-module {
	padding-top: 10px;
	padding-bottom: 10px;
}

/*.site-branding {
	max-width: 500px;
	display: flexr;
	float: left;
	@include mq($until:tablet) {
		flex-direction: column;
		height: auto;
		padding: 10px
	}
}

.logo_container {
	align-self: center;
	width: 230px;
	@include mq($until:tablet) {
		margin: 0 auto;
		padding: 10px 0;
	}
}

.site-title_container {
	align-self: center;
	@include mq($until:tablet) {
		margin: 0 auto;
		padding: 10px 0;
	}
}

.logo {
	width: 230px;
	display: inline;
	border: none;
}

.site-title {
	font-family: Georgia;
	display: inline-block;
	margin-left: 40px;
	margin-bottom: 0;
	width: auto;
	line-height: 21px;
	@include mq($until:tablet) {
		text-align: center;
		margin: 0;
	}
}

.site-title a {
	text-decoration: none;
	color: $uni-blue;
	font-size: 20px;
	font-weight: 300;
}*/


.slick-slide,
.main-slider,
.hero-header {
	height: 300px;

	 @include mq(tablet) {
	 	height: 500px;
	 	}
}


//
// Site Branding
//





.site-branding {

   @include flex-direction(column);
   width: auto;
	 @include mq($until:desktop) {
		 width: 100%;
	 }
  margin-bottom: $mobile-side-pad;


   @include mq(tablet) {
   margin-bottom: 0;
   	float: left;
    margin-bottom: 0;
   	 @include flex-direction(row);

   }

   	.site-title {
     @include font-size(20px);
   	line-height: 27px;
	 margin: 0;

	 @include mq(desktop) {
		  font-size: 22px !important;
			width: 230px;
	 }

  }


  .site-title a {
  	color: $uni-blue;
  	text-decoration: none;
  }

}





.site-branding__hero-wording {
	@include flexbox;

	@include flex-direction(row);

	@include mq($until:desktop) {
		justify-content: space-between;
	}





	@include mq(tablet) {
		 margin-top: 0;
		 padding-left: $mobile-side-pad;
		 margin-left: $desktop-side-pad;
		 //max-width: 340px;
		 width: 100%;
		 @include align-items(center);
		 @include justify-content(space-between);
		 /*@include justify-content(flex-start);*/
	}



}


.site-footer__logo,
.site-branding__hero-logo {
	color: $grey-dark;
	display: block;
	margin: auto auto;

 	width: 240px;
	@include flexbox;
	@include align-items(center);

	@include mq($until:tablet) {
		margin-bottom: 20px;
	}
}
