
.single-module {
  padding: 0 30px;
}

.format-standard {
  display: inline-block;
  .entry-content {
    display: inline-block;


    h4, h5, h6 {
      font-size: 30px;
      color: $uni-blue;
    }

  }
}



.entry-content:not(.video-post) p:first-child,
.entry-content:not(.video-post) p:first-child strong {
	@include font-weight(light);
	color: $base-black;
	 @include font-size(20px);
	 line-height: 28px;

	 @include mq(tablet) {
	 	 @include font-size(26px);
	 	 line-height: 34px;
	 }
}


.entry-content p,
.entry-content li {
	@include font-size(15px);
	line-height: 22px;

	@include mq(tablet) {
		 @include font-size(18px);
		 line-height: 27px;
	}
}



.entry-content p a,
.entry-content li a {
	color: $turqoise;
	text-decoration: underline;

	@include hocus() {
		  text-decoration: none;
	}
}


.comment-reply-title,
.meet-author,
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h1 strong,
.entry-content h2 strong,
.entry-content h3 strong,
.entry-content h4 strong,
.entry-content h5 strong {
	@include font-size(26px);
	@include font-weight(light);
	margin-bottom: $desktop-side-pad;
	line-height: 34px;
  color: $uni-blue;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h1 strong,
.entry-content h2 strong,
.entry-content h3 strong,
.entry-content h4 strong,
.entry-content h5 strong {
	margin-top: 60px;
}

.entry-content img {
  width: 100%;
}

.entry-content img:not(:last-child),
.entry-content p:not(:last-child) {
	margin-bottom: $desktop-side-pad;
}

.entry-content img:not(:last-child) {
  margin: 60px 0;
}

/*
.entry-content p:not(img),
.entry-content ul:not(img),
.entry-content h2:not(img),
.entry-content h3:not(img),
.entry-content h4:not(img),
.entry-content h25:not(img) {


	@include mq(tablet) {
		padding-right: $desktop-side-pad*2;
	}
}
*/

.fs-sidebar {


  img {
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  h3 {
    font-family: Helvetica;
    font-weight: 300;
    color: $uni-blue;
    text-decoration: none;
    font-size: 20px;
    margin: 10px 0;
	line-height: 25px;
  }

  h2 {
    font-size: 30px;
	margin-bottom: $desktop-side-pad;
  }

  h4 {
    margin-bottom: 10px;
	line-height: 16px;
    a {
      font-family: Helvetica;
      color: $grey-dark;
      font-weight: 300;
      text-decoration: none;
      font-size: 12px;
    }
  }

  p {
    font-size: 13px;
    font-weight: 300;
    line-height: 17px;
    color: $grey-dark;
    font-family: Helvetica;
  }

  .sticky-box-aligner {
    padding-left: 30px;
  }
}


.fs-sidebar h3:not(.post-title) {
	@include font-size(25px);
	margin-bottom: 20px;
  height: 25px;
  width: 100%;
  //padding: 0 30px;

}

.fs-sidebar .side-box a {
  display: block;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.fs-sidebar .side-box:last-child {

	@include mq(tablet) {
		margin-top: $desktop-side-pad;
		padding-top: $desktop-side-pad;
	}


}

.tags {
	@include font-size(18px);
}

.tags dt {
	display: inline-block;padding-right: 10px;
}

.tags dd {
	display: inline-block;
	margin: 0;
	padding-right: 6px;
	line-height: 33px;
}


.tags dd a {
	color: $turqoise;
}


.author-bio {
	margin: 80px 0;
}

.author-bio__name {
	@include flexbox;

	@include flex-direction(column);


	@include mq(tablet) {
		@include justify-content(flex-start);
		@include flex-direction(row);
	}
}


.author-bio__name  .avatar{
	@include vendor(border-radius, 50%);
	width: 90px;
	height: 90px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $desktop-side-pad;

	@include mq(tablet) {
		margin-top: $desktop-side-pad;
		/*padding-top: $desktop-side-pad;*/
		/*border-top: 1px solid $grey3;*/
	}

}


.teams-page  .author-bio__name {
	padding: $desktop-side-pad;
	background-color: $almost-white;
}

.teams-page .author-bio__name  .avatar{

	@include mq(tablet) {
		margin-top: 0;
		/*padding-top: $desktop-side-pad;*/
		/*border-top: 1px solid $grey3;*/
	}

}

.author-title {
	color: $uni-blue;
	@include font-size(20px);
	margin-bottom: 20px;
}

.author-bio__content {
	@include font-size(15px);
  line-height: 23px;
  padding-left: 30px;

  a {
    text-decoration: none;
  }
}

.teams-page .author-bio__content p{
	@include font-size(13px);

	@include mq(tablet) {
		@include font-size(18px);
		line-height: 23px;
	}

}


.contributor-posts-link {
	color: $turqoise;
	text-decoration: none;
	margin-top: 20px;

	display: block;
	@include hocus() {
		  text-decoration: underline;
	}
}



.posts-video_embed{ position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.posts-video_embed iframe, .posts-video_embed object, .posts-video_embed embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

// VIDEO POSTS

.video-post {

  .slide-category, .slide-date {
    font-size: 15px;
    margin: 0;
  }

  .slide-category {
    margin-bottom: 15px;
  }

  .slide-title {
    font-size: 40px;
    margin: 0 0 20px 0;
  }

}
